.top-bg{
    background-color: #fceae8;
}
.radious{
    border-radius: 15px;
}
.cat-img img{
    width: 100px;
}
.panda-bt{
color: #fff;
background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
border: none;
border-radius: 8px;
padding: 9px 25px;
}